// Partial SCSS file containing color variables

// ============================================
// COLORS
// ============================================

// === LIGHT THEME ============================
$light: (
    1000: #000000,
    bg: #eaeaea,
);

// === DARK THEME =============================
$dark: (
    1000: #ffffff,
    bg: #1c1c1c,
);